# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/
.ENV/

# Environment variable files
.env
.env.*

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Build artifacts
build/
dist/
*.egg-info/

# Logs
*.log

# VS Code / IDE settings
.vscode/
.idea/